body {
  display: none;
}

.imageSrcLayout{
  width: 100%;
}

.thImageShow {
  /* display: flex; */
  /* max-width: 80vw; */
  /* overflow: hidden; */
  height: 80vw;
}

.thImageShow canvas {
  /* flex-shrink: 0; */
}

.canvasWidth {
  width: 75vw;
}

.divNormFeatures {
  display: block;
}

.divAdvFeatures {
  display: none;
}

.divOutput {
  padding-bottom: 15px;
}

.terminal {
  width: 90%;
  height: 50vh;
  padding: 10px;
  background: black;
  color: #0f0;
  border-radius: 10px;
  font-family: monospace;
  text-align: left;
  overflow-x: scroll;
  overflow-y: scroll;  
}

.terminal pre {
  background-color: black;
  margin: 10px;
  padding: 10px;
  transform-origin: top left;
  transform: scale(1);
}

.terminal code {
  display: inline-block;
  background-color: black;  
  white-space: pre;
  padding: 20px;
}