body {
  display: none;
}

.thImageShow {
  display: flex;
  max-width: 90vw;
  height: 50vh;
  overflow: hidden;
}

.thImageShow canvas {
  flex-shrink: 0;
}

.divNormFeatures {
  display: block;
}

.divAdvFeatures {
  display: none;
}

.divOutput {
  padding-bottom: 15px;
}

.terminal {
  width: 90%;
  height: 50vh;
  padding: 10px;
  background: black;
  color: #0f0;
  border-radius: 10px;
  font-family: monospace;
  text-align: left;
  overflow-x: scroll;
  overflow-y: scroll;
}

.terminal pre {
  background-color: black;
  margin: 10px;
  padding: 10px;
  transform-origin: top left;
  transform: scale(1);
}
